<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:paul@example.com">email</a></li>
	        		<li><a href="https://github.com/paulsbrookes">github.com/paulsbrookes</a></li>
				</ul>
				<div class="haiku">
					Grass beside the sea.<br>
					Warm sound and light surround you.<br>
					Step away and fly.
				</div>
			</footer>
		</body>
	</html>
